<!-- {{category-link category}} -->

{{#if thumb}}
  <div class="category-topics--thumb-wrap">
    <a href={{getURL "/c/" category.slug}} class="category-topics--thumb">
      <img src={{thumb}} title={{category.name}}>
    </a>
  </div>
{{/if}}

<div class="category-topics--content">
  {{#each topics as |topic|}}
    <a href={{topic.url}} class="category-topics--topic">
      {{html-safe (replace-emoji topic.title)}}
      <!-- span class="category-topics--posts-count">
        ({{topic.posts_count}})
      </span -->
    </a>
  {{/each}}
</div>
