<!-- {{category-link category}} -->

{{#if this.thumb}}
  <div class="category-topics--thumb-wrap">
    <a href={{concat "/c/" category.slug}} class="category-topics--thumb">
      <img src={{thumb}} title={{category.name}}>
    </a>
  </div>
{{/if}}

<div class="category-topics--content">
  {{#each topics as |topic|}}
    <a href={{topic.url}} class="category-topics--topic">
      {{html-safe (replace-emoji topic.title)}}
      <!-- span>
        ({{topic.posts_count}})
      </span -->
    </a>
  {{/each}}
</div>

{{#if all_text_label}}
  <div class="category-topics--all">
    <a href={{concat "/c/" category.slug}}>
      {{all_text_label}} {{d-icon "angle-right"}}
    </a>
  </div>
{{/if}}