<h3 class="gamification-heading">
  {{theme-i18n "gamification.heading"}}
</h3>

<!-- <PeriodChooser @period={{period}} @action={{action "changePeriod"}} @fullDay={{false}} class="gamification-period-chooser"/> -->

<a class="gamification--view-all" href='{{theme-i18n "gamification.view_all_link"}}'>
  {{theme-i18n "gamification.view_all_tag"}} {{d-icon "angle-right"}}
</a>

<div class="gamification--container">
  {{#each gamificatinObj.users as |item|}}
    <div class="gamification--user">
      <span data-user-card={{item.username}} class="gamification--user-badge">
        {{avatar item imageSize="small"}}
        {{html-safe item.username}}
      </span>
      <span class="gamification--user-score">
        {{d-icon "crown"}} {{item.total_score}}
      </span>
    </div>
  {{/each}}
</div>

<a href='{{theme-i18n "gamification.view_all_badges_tag"}}' class="gamification--view-badges">
  {{theme-i18n "gamification.view_all_badges"}}
</a>
