<h3 class="gamification-heading">
  {{theme-i18n "gamification.heading"}}
</h3>

<!-- <PeriodChooser @period={{period}} @action={{action "changePeriod"}} @fullDay={{false}} class="gamification-period-chooser"/> -->

<div class="gamification-controls-wrap">
  <a href {{on "click" this.scoreForWeek}} class="gamification-control {{if this.activeWeekly "active" ""}}">Week</a>
  <a href {{on "click" this.scoreForAll}} class="gamification-control {{if this.activeAll "active" ""}}">All time</a>
</div>

<div class="gamification--container">
  {{#if loading}}
    <div class="gamification-loader">Loading</div>
  {{else}}
    {{#each gamificatinObj.users as |item|}}
      <div class="gamification--user">
        <span data-user-card={{item.username}} class="gamification--user-badge">
          {{avatar item imageSize="small"}}
          <span class="limit-username-length" title={{html-safe item.username}}>{{html-safe item.username}}</span>
        </span>
        <span class="gamification--user-score">
          {{d-icon "crown"}} {{item.total_score}}
        </span>
      </div>
    {{/each}}
  {{/if}}
</div>

<a href='{{theme-i18n "gamification.view_all_link"}}' class="gamification--view-all {{if (theme-i18n "gamification.view_all_link") "show-link" "hide-link"}}" >
  {{theme-i18n "gamification.view_all_tag"}} {{d-icon "angle-right"}}
</a>

<a href='{{theme-i18n "gamification.view_all_badges_link"}}' class="gamification--view-badges {{if (theme-i18n "gamification.view_all_badges_link") "show-link" "hide-link"}}">
  {{theme-i18n "gamification.view_all_badges_tag"}}
</a>