<h3 class="gamification-heading">
  {{theme-i18n "gamification.heading"}}
</h3>

<div class="gamification--container">
  {{#each gamificationList.users as |item|}}
    <div class="gamification--user">
      <span data-user-card={{item.username}} class="gamification--user-badge">
        {{avatar item imageSize="small"}}
        {{html-safe item.username}}
      </span>
      <span class="gamification--user-score">
        {{d-icon "crown"}}  {{item.total_score}}
      </span>
    </div>
  {{/each}}
</div>

<a class="gamification--view-all" href="/leaderboard">
  {{theme-i18n "gamification.view_all_tag"}}
</a>
